In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('../Datasets/Data_final.csv')

In [7]:
# Categories the career

Careers = data['Career'].unique()

# Define the categories
categories = {
    'Technology & Engineering': ['Software Developer', 'Web Developer', 'Data Analyst', 'IT Support Specialist', 
                                 'Game Developer', 'Aerospace Engineer', 'Electrical Engineer', 
                                 'Mechanical Engineer', 'Civil Engineer', 'Robotics Engineer', 'Electronics Design Engineer', 
                                 'Industrial Engineer', 'Biomedical Engineer', 'IT Project Manager'],
    'Healthcare': ['Nurse', 'Physician', 'Pharmacist', 'Psychologist', 'Pediatric Nurse', 'Speech Therapist', 
                   'Physical Therapist', 'Dental Hygienist', 'Pediatrician', 'Chiropractor', 'Radiologic Technologist', 
                   'Speech Pathologist', 'Genetic Counselor', 'Occupational Therapist', 'Marriage Counselor'],
    'Creative & Arts': ['Graphic Designer', 'Architect', 'Artist', 'Fashion Designer', 'Event Photographer', 
                        'Musician', 'Film Director', 'Fashion Stylist'],
    'Business & Finance': ['Accountant', 'Marketing Manager', 'Salesperson', 'Financial Analyst', 'Marketing Coordinator', 
                           'Marketing Analyst', 'Financial Planner', 'Financial Auditor', 'Advertising Executive', 
                           'IT Project Manager', 'Investment Banker', 'Public Relations Specialist', 'Tax Accountant', 
                           'Tax Collector', 'Administrative Officer'],
    'Science & Research': ['Research Scientist', 'Astronomer', 'Biologist', 'Environmental Scientist', 'Zoologist', 
                           'Geologist', 'Biomedical Researcher', 'Forensic Scientist', 'Wildlife Biologist', 
                           'Marine Biologist', 'Wildlife Conservationist', 'Environmental Engineer'],
    'Education': ['Teacher', 'Elementary School Teacher'],
    'Law & Social Services': ['Lawyer', 'Human Rights Lawyer', 'HR Recruiter', 'Human Resources Manager', 'Police Officer', 
                              'Police Detective', 'Social Worker', 'Diplomat', 'Rehabilitation Counselor', 
                              'Customs and Border Protection Officer', 'Foreign Service Officer'],
    'Other': ['Chef', 'Event Planner', 'Real Estate Agent', 'Air Traffic Controller', 'Urban Planner', 'Airline Pilot', 
              'Sports Coach', 'Quality Control Inspector', 'Forestry Technician', 'Video Game Tester', 'Product Manager']
}

# Add category column to the DataFrame
data['Category'] = data['Career'].apply(lambda x: next((k for k, v in categories.items() if x in v), 'Other'))



# # Show the grouped data
print(data.head(10))

   O_score  C_score  E_score  A_score  N_score  Numerical Aptitude  \
0     5.45     8.67     3.45     5.34     4.23                9.23
1     8.78     5.67     4.56     6.45     4.23                5.12
2     6.12     6.78     9.34     7.56     5.01                6.23
3     9.12     8.78     4.23     5.67     4.56                7.89
4     6.45     7.56     5.67     9.12     4.23                5.34
5     8.45     7.01     5.34     5.45     4.56                6.45
6     4.01     8.23     6.67     9.34     5.12                4.56
7     8.78     7.89     5.67     6.01     4.67                8.45
8     8.78     7.45     5.34     8.45     6.01                4.56
9     6.78     6.45     8.45     7.67     4.56                3.45

   Spatial Aptitude  Perceptual Aptitude  Abstract Reasoning  \
0              4.56                 6.78                7.89
1              8.45                 7.89                6.34
2              4.23                 6.45                6.67
3              5.34                 6.45                9.34
4              4.01                 6.23                5.78
5              9.12                 7.67                8.89
6              4.45                 7.45                5.78
7              4.23                 5.34                9.23
8              4.01                 4.23                6.67
9              3.12                 9.34                3.67

   Verbal Reasoning              Career                  Category
0              6.12          Accountant        Business & Finance
1              6.01    Graphic Designer           Creative & Arts
2              8.45         Salesperson        Business & Finance
3              7.67  Research Scientist        Science & Research
4              8.67             Teacher                 Education
5              4.23           Architect           Creative & Arts
6              7.78               Nurse                Healthcare
7              6.45  Software Developer  Technology & Engineering
8              9.23        Psychologist                Healthcare
9              4.23                Chef                     Other

In [8]:
categoryList = data['Category'].unique()

In [9]:
df = pd.DataFrame(data)

# Drop the 'Career' column
df.drop(['Career'], axis=1, inplace=True)

print(df)

     O_score  C_score  E_score  A_score  N_score  Numerical Aptitude  \
0       5.45     8.67     3.45     5.34     4.23                9.23
1       8.78     5.67     4.56     6.45     4.23                5.12
2       6.12     6.78     9.34     7.56     5.01                6.23
3       9.12     8.78     4.23     5.67     4.56                7.89
4       6.45     7.56     5.67     9.12     4.23                5.34
..       ...      ...      ...      ...      ...                 ...
100     7.67     8.23     6.01     9.12     5.45                4.45
101     2.67     8.78     7.67     8.45     6.45                4.45
102     6.78     8.67     4.23     5.23     4.67                8.23
103     7.34     7.67     4.23     5.23     4.67                9.34
104     7.34     7.67     4.23     5.45     4.89                9.12

     Spatial Aptitude  Perceptual Aptitude  Abstract Reasoning  \
0                4.56                 6.78                7.89
1                8.45                 7.89                6.34
2                4.23                 6.45                6.67
3                5.34                 6.45                9.34
4                4.01                 6.23                5.78
..                ...                  ...                 ...
100              2.89                 3.12                4.67
101              2.89                 3.12                4.67
102              7.67                 6.01                7.45
103              8.45                 6.78                8.12
104              8.67                 6.45                8.23

     Verbal Reasoning                  Category
0                6.12        Business & Finance
1                6.01           Creative & Arts
2                8.45        Business & Finance
3                7.67        Science & Research
4                8.67                 Education
..                ...                       ...
100              8.34     Law & Social Services
101              5.45     Law & Social Services
102              5.45  Technology & Engineering
103              5.67  Technology & Engineering
104              5.67  Technology & Engineering

[105 rows x 11 columns]

In [19]:

# Calculate mean of all columns based on 'Category'
mean_by_category = df.groupby('Category').mean()

mean_by_category

,O_score,C_score,E_score,A_score,N_score,Numerical Aptitude,Spatial Aptitude,Perceptual Aptitude,Abstract Reasoning,Verbal Reasoning
Category,,,,,,,,,,
Business & Finance,6.687143,8.045000,6.322857,6.855000,5.347857,6.862857,3.466429,4.218571,4.783571,7.077857
Creative & Arts,8.643750,4.588750,7.130000,6.727500,5.715000,4.032500,4.715000,8.200000,5.811250,4.605000
Education,6.450000,7.615000,5.505000,9.175000,4.340000,4.560000,3.450000,4.620000,4.670000,8.395000
Healthcare,6.777333,7.975333,5.229333,8.829333,6.134000,4.900000,3.408000,4.004000,4.620667,8.057333
Law & Social Services,6.136364,7.913636,6.400909,8.410909,6.137273,4.490909,3.216364,3.733636,4.540909,7.611818
Other,7.214286,7.469286,5.612500,6.490357,5.398571,5.846071,4.370714,5.112857,5.255714,6.692500
Science & Research,8.936154,7.816923,4.220769,5.366154,5.006154,6.621538,5.476923,6.551538,8.372308,6.476154
Technology & Engineering,7.354286,7.822143,4.657143,5.435714,4.924286,8.109286,6.164286,5.631429,7.355714,6.037143

In [24]:
newdf = pd.DataFrame({i: mean_by_category[i]['Education'] for i in df.keys().drop('Category')}, index=['Education'])
print(newdf)

           O_score  C_score  E_score  A_score  N_score  Numerical Aptitude  \
Education     6.45    7.615    5.505    9.175     4.34                4.56

           Spatial Aptitude  Perceptual Aptitude  Abstract Reasoning  \
Education              3.45                 4.62                4.67

           Verbal Reasoning
Education             8.395